.pointer {
    cursor: pointer;
}

.cross {
    background-color: unset;
    transition: all ease-in-out 0.2s;
}

.cross:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: all ease-in-out 0.2s;
}


.scrollable {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.scrollable::-webkit-scrollbar {
    width: 8px;
}

.scrollable::-webkit-scrollbar-track {
    background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}


@keyframes shrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateX(100px) scale(50%);
    }
    75% {

        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.log-notification {
    animation: fadeInUp 0.4s ease-in-out;
    transition: all 0.5s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.log-notification:hover {
    transform: translateX(-10px);
    transition: all 0.2s;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}
